<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLDatabase" connectionString="Data Source=210.211.127.78,1433; Initial Catalog=MV_CONNECT_UAT; User Id=minvoice_connect; Password=minvoice@23042024; Encrypt=True; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="MongoHost" value="mongodb://localhost:27017" />
		<add key="MongoCollectionName" value="DataFromDmdvcs" />
		<add key="MongoDatabaseName" value="MinvMongo" />
	</appSettings>
</configuration>